#first_section{
    background-color: darkslategray;
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;

}
#second_section{
    
    background-color: floralwhite;
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
}

footer{
    color: blanchedalmond;
    background-color: black;
    padding: 5%;
}