body{
    font: Helvetica;
}

.navbar{
    background-color: #b4005a;
}

#servicos{
    background-color: darkslategray;
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;

}
#quemsomos{
    
    background-color: floralwhite;
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
}

#contato{
    
    background-color: lightslategray;
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
}
footer{
    color: blanchedalmond;
    background-color: black;
    padding: 5%;
}